.main
{
	background:transparent;
	background-color:white;
}
.main1
{
	color:#3e3e3e;
}
.Action > *
{
	display:inline-block;
}

.Action > h2
{
	color:#3e3e3e;
}

.right
{
	float:right;
	margin-right:0.5em;
}
.user-content
{
	padding:3em;
	padding-bottom:0;
}

.description 
{
	margin-top:1em;
}
.description > p
{
	color:#3e3e3e;
	font-weight:normal;
	font-family:'Roboto',sans-serif;
	padding:1em;
	text-align: justify;
}
.center
{
	text-align: center;
}